<div class="container__primary-menu">
  <div class="container__primary-menu__left-content">
    <a [routerLink]="['']">
      <div class="primary-menu__icon">
        <img src="../../../assets/psicon.svg" />
      </div>
    </a>
    <nav class="primary-menu__nav">
      <ul>
        <li *ngFor="let primaryMenuItem of primaryMenuItems">
          {{ primaryMenuItem }}
        </li>
      </ul>
    </nav>
  </div>
  <div class="container__primary-menu__right-content">
    <app-button [text]="'Iniciar sessão'"></app-button>
    <input type="text" placeholder="Pesquisar" />
  </div>
</div>
